* {
    box-sizing: border-box;
}

.temperature_converter_container {
    max-width: 400px;
    margin: 10px;
    padding: 15px 18px 12px;

    background-color: #6495ed;
    border-radius: 15px;
}

.temperature_converter_container > div {
    display: flex;
    flex-direction: column;

    font-family: sans-serif;
    font-size: 17px;
    font-weight: bold;

    padding: 10px 5px;
}

.temperature_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 10px 0;
}

.celsius_input {
    margin-left: 28px;
}

.kelvin_input {
    margin-left: 38px;
}

.temperature_converter_container button {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;

    width: 100px;
    margin: 10px 5px 5px;
    padding: 2px;

    border-radius: 10px;
}

.temperature_row.error {
    justify-content: flex-start;
    margin-left: 105px;

    color: #F00;
}
