<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Todo List Vue</title>

    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div v-cloak id="my-form">
    <todo-list></todo-list>
</div>

<script type="text/x-template" id="todo-item-template">
    <div v-if="editMode" class="row my-3">
        <div class="col-12 px-0">
            <div class="input-group">
                <input class="form-control text-success" type="text" v-model="temporaryText">
                <span class="btn-group">
                    <button @click="saveChanges" type="button" class="btn btn-primary" title="Save changes">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    </button>
                    <button @click="cancelChanges" type="button" class="btn btn-danger" title="Cancel changes">
                        <i class="fa fa-arrow-up" aria-hidden="true"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>

    <div v-else class="row my-3">
        <div class="col-12 px-0">
            <div class="input-group">
                <div class="form-control todo-item-block" v-text="item.text"></div>
                <span class="btn-group">
                    <button @click="editItem" type="button" class="btn btn-primary" title="Edit note">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </button>
                    <button @click="deleteItem" type="button" class="btn btn-danger" title="Delete note">
                        <i class="fa fa-trash"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
</script>

<script type="text/x-template" id="todo-list-template">
    <div class="container px-4 px-md-0">
        <h1 class="text-center display-1 header">Todo List</h1>
        <div class="row input-form">
            <form class="col-12 px-0" @submit.prevent>
                <div class="input-group">
                    <input class="form-control" v-model="newItemText" type="text" placeholder="Write your note here...">
                    <span class="add-button-block">
                        <button @click="addItem" type="button" class="btn btn-success btn-block" title="Add note">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>

        <todo-item :item="item"
                   :key="item.id"
                   @delete-item="deleteItem"
                   @cancel-text-change="cancelTextChange"
                   @save-text-change="saveTextChange"
                   v-for="item in items">
        </todo-item>
    </div>
</script>

<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="node_modules/vue/dist/vue.js"></script>
<script src="script.js"></script>
</body>
</html>